
.node {
    cursor: pointer;
  }

  .overlay{
      // background-color:#EEE;
  }
  
  .node .nodeExtand{
    // color: #52B3D9;
    // fill: #52B3D9;
    // font-family: FontAwesome,"微软雅黑",sans-serif;

    stroke: #52B3D9;
    fill: none;
  }

  // .node.node-important{
  //   circle {
  //     stroke: red;
  //   }
  // }
   
  .node circle {
    fill: rgba(255, 255, 255, 0.1);
    stroke: #52B3D9;
    stroke-width: 1.5px;
    color: #52B3D9;
  }

  .node .nodeCircle{
    fill: #52B3D9;
    color: #52B3D9;
    font-family: FontAwesome,sans-serif;
    font-size: 16px;
  }
  
  .menu{
    cursor: pointer;
    
    circle{
      fill: rgba(0, 0, 0, 0.9);
    }

    &:hover{
      circle{
        fill: rgba(105, 105, 105, .2);
      }
    }
  }
  .menu text{
    fill: #52B3D9;
    color: #52B3D9;
    font-family: FontAwesome,"微软雅黑",sans-serif;
    font-size: 16px;
    text-anchor: middle;
    alignment-baseline: middle;
  }
   
  .node .nodeText {
    font-size:10px; 
    font-family: FontAwesome,"微软雅黑",sans-serif;
    fill: #52B3D9;
    color: #52B3D9;
  }
   
  .link {
    fill: none;
    // stroke: rgba(255, 255, 255, 0.6);
    stroke: #0cc2aa;
    stroke-width: 1.5px;
  }

  .templink, .addtemplink{
    fill: none;
    stroke: #0cc2aa;
    stroke-width: 3px;
  }

  .addtemplink{
    opacity: 0.5;
  }

  .ghostCircle.show{
      display:block;
  }

  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }