<div id="detailPanel" class="panel detail-panel">
	<a href="#" class="pure-button close-btn" v-on="click: ClosePanel()">
		<i class="fa fa-times"></i>
	</a>
	
	<ul class="menu">
		<li>
			<h4>节点名称</h4>
			<form class="pure-form pure-form-stacked">
			    <fieldset>
			        <div class="group-input">
			        	<label for="{{ type }}">名称</label>
			        	 <input class="pure-input-1" type="text" v-model="node.name">
			        </div>
			    </fieldset>
			</form>
		</li>
		<li>
			<h4>其他信息</h4>
			<form class="pure-form pure-form-stacked">
			    <fieldset>
			        <div class="group-input">
			        	<label>名称</label>
			        	 <input class="pure-input-1" type="text" v-model="form.name">
			        </div>
			        <div class="group-input">
			        	<label>规格</label>
			        	 <input class="pure-input-1" type="text" v-model="form.name">
			        </div>
			        <div class="group-input">
			        	<label>型号</label>
			        	 <input class="pure-input-1" type="text" v-model="form.name">
			        </div>
			        <div class="group-input">
			        	<label>单价</label>
			        	 <input class="pure-input-1" type="text" v-model="form.name">
			        </div>
			        <div class="group-input">
			        	<label>金额</label>
			        	 <input class="pure-input-1" type="text" v-model="form.name">
			        </div>
			    </fieldset>
			</form>
		</li>
	</ul>
	
	<div class="pure-u-1-{{ diagonal.length }}" v-repeat="diagonal">
						<a class="pure-button add-button" href="#" title="添加节点" v-on="click: ChangeDiagonal(type)" >
					    	<i class="fa fa-{{ icon }}"></i>
					    	<span>{{ name }}</span>
					    </a>
					</div>

	<ul class="pure-g button-group">
		<li class="pure-u-1-2">
			<a class="pure-button add-button" href="#" title="确定">
		    	确定
		    </a>
		</li>
		<li class="pure-u-1-2">
			<a class="pure-button add-button" href="#" title="取消">
		    	取消
		    </a>
		</li>
	</ul>
</div>