<div class="detail-panel">
	<div class="pure-panel-title">{{ title }}</div>
<!-- 	<div class="pure-panel-buttons">
		<a class="" href="#" title="最小化"><i class="fa fa-{{ isShow ? 'minus' : 'plus' }}"></i></a>
	</div> -->
	<div class="pure-panel-content pure-form">
		<div class="pure-g">
			<div class="pure-u-1-3">
				<label for="">节点名称</label>
		    </div>
		    <div class="pure-u-2-3">
		        <input class="pure-input-1" type="text" v-model="node.name">
		    </div>
		</div>
	</div>
</div>