<div id="detailPanel" class="detail-panel">
	<a href="#" class="pure-button close-btn" v-on="click: ClosePanel()">
		<i class="fa fa-times"></i>
	</a>
	
	<ul class="menu">
		<li>
			<h4>节点名称</h4>
			<form class="pure-form pure-form-stacked">
			    <fieldset>
			        <div class="group-input">
			        	<label for="{{ type }}">名称</label>
			        	 <input class="pure-input-1" type="text" v-model="node.name">
			        </div>
			    </fieldset>
			</form>
		</li>
		<li>
			<h4>其他信息</h4>
			<form class="pure-form pure-form-stacked">
			    <fieldset>
			        <div class="group-input">
			        	<label>名称</label>
			        	 <input class="pure-input-1" type="text" v-model="form.name">
			        </div>
			        <div class="group-input">
			        	<label>规格</label>
			        	 <input class="pure-input-1" type="text" v-model="form.name">
			        </div>
			        <div class="group-input">
			        	<label>型号</label>
			        	 <input class="pure-input-1" type="text" v-model="form.name">
			        </div>
			        <div class="group-input">
			        	<label>单价</label>
			        	 <input class="pure-input-1" type="text" v-model="form.name">
			        </div>
			        <div class="group-input">
			        	<label>金额</label>
			        	 <input class="pure-input-1" type="text" v-model="form.name">
			        </div>
			    </fieldset>
			</form>
		</li>
	</ul>
</div>